*.pyc
*.pyo
*.log
*.db
*.pid
.DS_Store
.coverage
local_settings.py
/backend/media
/backend/backend_static
/frontend/public/application.*
/frontend/public/index.html
/frontend/test/public
dj_static
/docker-compose/.dev.yaml

/postgresqldata*
.venv
/venv
.dockerignore
__pycache__

/postgresqldata_test
.env

/.idea
/backend/old_database_dump