djangorestframework
djangorestframework-gis
django-cors-headers
django-phonenumber-field
django-nested-admin
django-admin-rangefilter
git+https://github.com/lukasvinclav/django-admin-numeric-filter.git
phonenumbers
Django
gunicorn
Pillow
psycopg2-binary
sentry-sdk
pytest-django
pytest
python-dotenv
pyyaml
django-debug-toolbar
requests
simplejson
django-solo
django-admin-autocomplete-filter
django-more-admin-filters
python-dateutil
django-filter
django-tinymce
XlsxWriter
drf-writable-nested
drf-spectacular