{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block filters %}
    {% if cl.has_filters %}
        <div id="show-changelist-filter"
             style="display: none; cursor: pointer; padding: 10px; font-size: 20px">«
        </div>
        <div id="changelist-filter">
            <h2 id="hide-changelist-filter"
                style="cursor: pointer">{% translate 'Filter' %} <span style="float: right">»</span></h2>
            {% if cl.has_active_filters %}<h3 id="changelist-filter-clear">
                <a href="{{ cl.clear_all_filters_qs }}">&#10006; {% translate "Clear all filters" %}</a>
            </h3>{% endif %}
            {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
        </div>
        <script>
            django.jQuery('#show-changelist-filter').click(function () {
                django.jQuery('#changelist-filter').toggle()
                django.jQuery('#show-changelist-filter').toggle()
            })
            django.jQuery('#hide-changelist-filter').click(function () {
                django.jQuery('#changelist-filter').toggle()
                django.jQuery('#show-changelist-filter').toggle()
            })
        </script>
    {% endif %}
{% endblock %}
